@model MAS_Sustainability.UserLogin
@{
    ViewBag.Title = "Login";
}


@{
    var valid_cocunt = ViewBag.TokenVariable;
}


<body class="login" style="color:black">
    <div class="wrapper wrapper-login wrapper-login-full p-0" style="color:black">
        <div style="color:black" class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">


            <center>
                <img src="~/Content/images/MAS_logo.png" alt="">
            </center>

            </br></br>

            <h1 class="title fw-bold text-white mb-3">Industrial Sustainability & Safety Maintenance System</h1>
            <!-- <p class="subtitle text-white op-7">Industrial Sustainability & Safety Maintenance System</p> -->
            </br></br>		</br>

            <div class="year">
                <h5 style="font-weight: bold;">Copyrights &copy; THIRTYFIRST LANKA  2019 |  All Rights Reserved</h5>
            </div><!-- year -->



        </div>
        <div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">





            <div class="container container-login animated fadeIn">
                <h3 class="text-center">Sign In</h3>


                <div class="login-form">

                    @using (Html.BeginForm())
                    {


                        <div class="form-group form-floating-label">
                            <input id="email" name="LoginUserEmail" type="email" class="form-control input-border-bottom" required>
                            <label for="email" class="placeholder">Email</label>
                        </div>

                        <div class="form-group form-floating-label">
                            <input id="Password" name="LoginUserPassword" type="password" class="form-control input-border-bottom" required>
                            <label for="Password" class="placeholder">Password</label>
                            <div class="show-password">
                                <i class="icon-eye"></i>
                            </div>
                        </div>






                        <div class="form-group form-action-d-flex mb-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="rememberme">
                                <label class="custom-control-label m-0" for="rememberme">Remember Me</label>
                            </div>
                            <input type="submit" value="Sign In" class="btn btn-secondary col-md-5 float-right mt-3 mt-sm-0 fw-bold" id="alert_demo_3_1" />



                        </div>

                    }



                    <script>


                        var SweetAlert2Demo = function () {

                            //== Demos
                            var initDemos = function () {
                                //== Sweetalert Demo 1
                                $('#alert_demo_1').click(function (e) {
                                    swal('Good job!', {
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    });
                                });

                                //== Sweetalert Demo 2
                                $('#alert_demo_2').click(function (e) {
                                    swal("Here's the title!", "...and here's the text!", {
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    });
                                });

                                //== Sweetalert Demo 3
                                $('#alert_demo_3_1').click(function (e) {
                                    swal("Good job!", "You clicked the button!", {
                                        icon: "warning",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-warning'
                                            }
                                        },
                                    });
                                });

                                $('#alert_demo_3_2').click(function (e) {
                                    swal("Good job!", "You clicked the button!", {
                                        icon: "error",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-danger'
                                            }
                                        },
                                    });
                                });

                                $('#alert_demo_3_3').click(function (e) {
                                    swal("Good job!", "You clicked the button!", {
                                        icon: "success",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    });
                                });

                                $('#alert_demo_3_4').click(function (e) {
                                    swal("Good job!", "You clicked the button!", {
                                        icon: "info",
                                        buttons: {
                                            confirm: {
                                                className: 'btn btn-info'
                                            }
                                        },
                                    });
                                });

                                //== Sweetalert Demo 4
                                $('#alert_demo_4').click(function (e) {
                                    swal({
                                        title: "Good job!",
                                        text: "You clicked the button!",
                                        icon: "success",
                                        buttons: {
                                            confirm: {
                                                text: "Confirm Me",
                                                value: true,
                                                visible: true,
                                                className: "btn btn-success",
                                                closeModal: true
                                            }
                                        }
                                    });
                                });

                                $('#alert_demo_5').click(function (e) {
                                    swal({
                                        title: 'Input Something',
                                        html: '<br><input class="form-control" placeholder="Input Something" id="input-field">',
                                        content: {
                                            element: "input",
                                            attributes: {
                                                placeholder: "Input Something",
                                                type: "text",
                                                id: "input-field",
                                                className: "form-control"
                                            },
                                        },
                                        buttons: {
                                            cancel: {
                                                visible: true,
                                                className: 'btn btn-danger'
                                            },
                                            confirm: {
                                                className: 'btn btn-success'
                                            }
                                        },
                                    }).then(
                                        function () {
                                            swal("", "You entered : " + $('#input-field').val(), "success");
                                        }
                                    );
                                });

                                $('#alert_demo_6').click(function (e) {
                                    swal("This modal will disappear soon!", {
                                        buttons: false,
                                        timer: 3000,
                                    });
                                });

                                $('#alert_demo_7').click(function (e) {
                                    swal({
                                        title: 'Are you sure?',
                                        text: "You won't be able to revert this!",
                                        type: 'warning',
                                        buttons: {
                                            confirm: {
                                                text: 'Yes, delete it!',
                                                className: 'btn btn-success'
                                            },
                                            cancel: {
                                                visible: true,
                                                className: 'btn btn-danger'
                                            }
                                        }
                                    }).then((Delete) => {
                                        if (Delete) {
                                            swal({
                                                title: 'Deleted!',
                                                text: 'Your file has been deleted.',
                                                type: 'success',
                                                buttons: {
                                                    confirm: {
                                                        className: 'btn btn-success'
                                                    }
                                                }
                                            });
                                        } else {
                                            swal.close();
                                        }
                                    });
                                });

                                $('#alert_demo_8').click(function (e) {
                                    swal({
                                        title: 'Are you sure?',
                                        text: "You won't be able to revert this!",
                                        type: 'warning',
                                        buttons: {
                                            cancel: {
                                                visible: true,
                                                text: 'No, cancel!',
                                                className: 'btn btn-danger'
                                            },
                                            confirm: {
                                                text: 'Yes, delete it!',
                                                className: 'btn btn-success'
                                            }
                                        }
                                    }).then((willDelete) => {
                                        if (willDelete) {
                                            swal("Poof! Your imaginary file has been deleted!", {
                                                icon: "success",
                                                buttons: {
                                                    confirm: {
                                                        className: 'btn btn-success'
                                                    }
                                                }
                                            });
                                        } else {
                                            swal("Your imaginary file is safe!", {
                                                buttons: {
                                                    confirm: {
                                                        className: 'btn btn-success'
                                                    }
                                                }
                                            });
                                        }
                                    });
                                })

                            };

                            return {
                                //== Init
                                init: function () {
                                    initDemos();
                                },
                            };
                        }();

                        //== Class Initialization
                        jQuery(document).ready(function () {
                            SweetAlert2Demo.init();
                        });

                    </script>


                    <div class="login-account">
                        <span class="msg">Don't have an account yet ?</span>
                        @Html.ActionLink("Sign Up", "Create", "UserRegistration", null, new { @class = "link" })
                    </div>

                    <div class="login-account">
                        @Html.ActionLink("Forgotten Password?", "ForgottenPassword", "UserRegistration", null, new { @class = "link" })
                    </div>


                </div>



            </div>



        </div>
    </div>
    <!--   Core JS Files   -->


    <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/core/popper.min.js"></script>
    <script src="~/Content/assets/js/core/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/atlantis.min.js"></script>

    <script src="~/Content/js/plugin/sweetalert/sweetalert.min.js"></script>

    <script src="~/Content/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Atlantis JS -->
    <script src="~/Content/assets/js/atlantis.min.js"></script>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="~/Content/assets/js/setting-demo2.js"></script>


    <!-------------------------------->


</body>





