@using MAS_Sustainability.Models;
@model MainModel

@{
    Layout = "~/Views/Home/LayoutBody.cshtml";
}

@{
    ViewBag.Title = "Add";
}

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">Add New Problem</h4>
                @*<ul class="breadcrumbs">
                        <li class="nav-home">
                            <a href="#">
                                <i class="flaticon-home"></i>
                            </a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Base</a>
                        </li>
                        <li class="separator">
                            <i class="flaticon-right-arrow"></i>
                        </li>
                        <li class="nav-item">
                            <a href="#">Lists</a>
                        </li>
                    </ul>*@
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Capture the Problem</h4>

                            @using (Html.BeginForm("Add", "Token", FormMethod.Post, new { enctype = "multipart/form-data", id = "addForm" }))
                            {
                                @Html.AntiForgeryToken()


                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-3 form-show-validation">
                                            <div class="input-file input-file-image form-show-validation">
                                                <img class="img-upload-preview img-circle" width="150" height="150" src="https://placehold.it/150x150" alt="preview">
                                                <input type="file" class="form-control form-control-file" id="ImageFile1" name="FirstImageFile" accept="image/*" required="">
                                                <label for="ImageFile1" class="badge badge-primary">
                                                    <span class="btn-label">
                                                        <i class="fa fa-file-image"></i>
                                                    </span>
                                                    Add New
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-md-3 form-show-validation">
                                            <div class="input-file input-file-image">
                                                <img class="img-upload-preview img-circle" width="150" height="150" src="https://placehold.it/150x150" alt="preview">
                                                <input type="file" class="form-control form-control-file" id="ImageFile2" name="SecondImageFile" accept="image/*" required="">
                                                <label for="ImageFile2" class="badge badge-primary">
                                                    <span class="btn-label">
                                                        <i class="fa fa-file-image"></i>
                                                    </span>
                                                    Add New
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title">More Information about Problem</h4>
                                            </div>
                                            <div class="card-body">

                                                <div class="form-group form-show-validation row">
                                                    <label for="name" class="col-sm-4 col-form-label">Problem Name</label>
                                                    <div class="input-group col-sm-8">
                                                        <input type="text" class="form-control" id="ProblemName" name="ProblemName"
                                                               placeholder="Name of the problem" required>
                                                    </div>
                                                </div>


                                                <div class="form-group form-show-validation row">
                                                    <label class="col-sm-4 col-form-label">Problem Category</label>
                                                    <div class="input-group col-sm-8 select2-input">
                                                        <select id="basic" name="ProblemCategory" class="form-control"
                                                                Please Select Category required>
                                                            <option value="" selected disabled style="opacity:0.1">Please select a category</option>
                                                            <option value="Sustainability">Sustainability</option>
                                                            <option value="Safety">Safety</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group form-show-validation row">
                                                    <label class="col-sm-4 col-form-label">Location</label>
                                                    <div class="input-group col-sm-8">
                                                        <input type="text" class="form-control" id="Location" name="Location"
                                                               placeholder="Location of the problem" required>

                                                    </div>
                                                </div>


                                                <div class="form-group form-show-validation row">
                                                    <label for="comment" class="col-sm-4 col-form-label">Problem in Brief</label>
                                                    <div class="input-group col-sm-8">
                                                        <textarea class="form-control" id="Description" rows="5" name="Description" required
                                                                  placeholder="Description about the problem ..."></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group form-show-validation row">
                                                    <label class="col-sm-4 col-form-label">Attention Level</label>
                                                    <div class="input-group col-sm-8">
                                                        <div class="text-success">Low</div>
                                                        <div class="rating">

                                                            <label>
                                                                <input type="radio" id="AttentionLevel" name="AttentionLevel" value="20" required />
                                                                <span class="icon">★</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" id="AttentionLevel" name="AttentionLevel" value="40" />
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" id="AttentionLevel" name="AttentionLevel" value="60" />
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" id="AttentionLevel" name="AttentionLevel" value="80" />
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                            </label>
                                                            <label>
                                                                <input type="radio" id="AttentionLevel" name="AttentionLevel" value="100" />
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                                <span class="icon">★</span>
                                                            </label>
                                                        </div>
                                                        <div class="text-danger">Critical</div>
                                                    </div>
                                                   
                                                </div>

                                            </div>
                                            <center>
                                                <input type="submit" value="Add Token" class="btn btn-primary btn-round col-sm-4" />
                                            </center>
                                            <p>&nbsp;&nbsp;</p>
                                        </div>
                                    </div>
                                </div>

                            }

                            <!-----------------------------Star Input Styles & Scripts----------------------------------->
                            <style>
                                .rating {
                                    display: inline-block;
                                    position: relative;
                                    height: 100px;
                                    line-height: 100px;
                                    font-size: 100px;
                                }

                                    .rating label {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 100%;
                                        cursor: pointer;
                                    }

                                        .rating label:last-child {
                                            position: static;
                                        }

                                        .rating label:nth-child(1) {
                                            z-index: 5;
                                        }

                                        .rating label:nth-child(2) {
                                            z-index: 4;
                                        }

                                        .rating label:nth-child(3) {
                                            z-index: 3;
                                        }

                                        .rating label:nth-child(4) {
                                            z-index: 2;
                                        }

                                        .rating label:nth-child(5) {
                                            z-index: 1;
                                        }

                                        .rating label input {
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            opacity: 0;
                                        }

                                        .rating label .icon {
                                            float: left;
                                            color: transparent;
                                            font-size: 50px;
                                        }

                                        .rating label:last-child .icon {
                                            color: #000;
                                        }

                                    .rating:not(:hover) label input:checked ~ .icon,
                                    .rating:hover label:hover input ~ .icon {
                                        color: red;
                                    }

                                    .rating label input:focus:not(:checked) ~ .icon:last-child {
                                        color: #000;
                                        text-shadow: 0 0 5px red;
                                    }

                                #value {
                                    font-size: 1rem;
                                    position: center;
                                    left: 0;
                                    bottom: 40px;
                                    width: 100px;
                                }
                            </style>

                            <script>
                                $(':radio').change(function () {
                                    console.log('New star rating: ' + this.value);
                            </script>
                            <!-------------------------------------------------------->
                            <!--   Core JS Files   -->
                            <script src="~/Content/assets/js/core/jquery.3.2.1.min.js"></script>
                            <script src="~/Content/assets/js/core/popper.min.js"></script>
                            <script src="~/Content/assets/js/core/bootstrap.min.js"></script>

                            <!-- jQuery UI -->
                            <script src="~/Content/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
                            <script src="~/Content/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

                            <!-- jQuery Scrollbar -->
                            <script src="~/Content/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

                            <!-- Moment JS -->
                            <script src="~/Content/assets/js/plugin/moment/moment.min.js"></script>

                            <!-- Chart JS -->
                            <script src="~/Content/assets/js/plugin/chart.js/chart.min.js"></script>

                            <!-- jQuery Sparkline -->
                            <script src="~/Content/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

                            <!-- Chart Circle -->
                            <script src="~/Content/assets/js/plugin/chart-circle/circles.min.js"></script>

                            <!-- Datatables -->
                            <script src="~/Content/assets/js/plugin/datatables/datatables.min.js"></script>

                            <!-- Bootstrap Notify -->
                            <script src="~/Content/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

                            <!-- Bootstrap Toggle -->
                            <script src="~/Content/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

                            <!-- jQuery Vector Maps -->
                            <script src="~/Content/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
                            <script src="~/Content/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

                            <!-- Google Maps Plugin -->
                            <script src="~/Content/assets/js/plugin/gmaps/gmaps.js"></script>

                            <!-- Dropzone -->
                            <script src="~/Content/assets/js/plugin/dropzone/dropzone.min.js"></script>

                            <!-- Fullcalendar -->
                            <script src="~/Content/assets/js/plugin/fullcalendar/fullcalendar.min.js"></script>

                            <!-- DateTimePicker -->
                            <script src="~/Content/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>

                            <!-- Bootstrap Tagsinput -->
                            <script src="~/Content/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

                            <!-- Bootstrap Wizard -->
                            <script src="~/Content/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js"></script>

                            <!-- jQuery Validation -->
                            <script src="~/Content/assets/js/plugin/jquery.validate/jquery.validate.min.js"></script>

                            <!-- Summernote -->
                            <script src="~/Content/assets/js/plugin/summernote/summernote-bs4.min.js"></script>

                            <!-- Select2 -->
                            <script src="~/Content/assets/js/plugin/select2/select2.full.min.js"></script>

                            <!-- Sweet Alert -->
                            <script src="~/Content/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

                            <!-- Owl Carousel -->
                            <script src="~/Content/assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>

                            <!-- Magnific Popup -->
                            <script src="~/Content/assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>

                            <!-- Atlantis JS -->
                            <script src="~/Content/assets/js/atlantis.min.js"></script>

                            <!-- Atlantis DEMO methods, don't include it in your project! -->
                            <script src="~/Content/assets/js/setting-demo.js"></script>
                            <script src="~/Content/assets/js/demo.js"></script>
                            <script>
                                Circles.create({
                                    id: 'circles-1',
                                    radius: 45,
                                    value: 60,
                                    maxValue: 100,
                                    width: 7,
                                    text: 5,
                                    colors: ['#f1f1f1', '#FF9E27'],
                                    duration: 400,
                                    wrpClass: 'circles-wrp',
                                    textClass: 'circles-text',
                                    styleWrapper: true,
                                    styleText: true
                                })

                                Circles.create({
                                    id: 'circles-2',
                                    radius: 45,
                                    value: 70,
                                    maxValue: 100,
                                    width: 7,
                                    text: 36,
                                    colors: ['#f1f1f1', '#2BB930'],
                                    duration: 400,
                                    wrpClass: 'circles-wrp',
                                    textClass: 'circles-text',
                                    styleWrapper: true,
                                    styleText: true
                                })

                                Circles.create({
                                    id: 'circles-3',
                                    radius: 45,
                                    value: 40,
                                    maxValue: 100,
                                    width: 7,
                                    text: 12,
                                    colors: ['#f1f1f1', '#F25961'],
                                    duration: 400,
                                    wrpClass: 'circles-wrp',
                                    textClass: 'circles-text',
                                    styleWrapper: true,
                                    styleText: true
                                })

                                var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

                                var mytotalIncomeChart = new Chart(totalIncomeChart, {
                                    type: 'bar',
                                    data: {
                                        labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
                                        datasets: [{
                                            label: "Total Income",
                                            backgroundColor: '#ff9e27',
                                            borderColor: 'rgb(23, 125, 255)',
                                            data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
                                        }],
                                    },
                                    options: {
                                        responsive: true,
                                        maintainAspectRatio: false,
                                        legend: {
                                            display: false,
                                        },
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    display: false //this will remove only the label
                                                },
                                                gridLines: {
                                                    drawBorder: false,
                                                    display: false
                                                }
                                            }],
                                            xAxes: [{
                                                gridLines: {
                                                    drawBorder: false,
                                                    display: false
                                                }
                                            }]
                                        },
                                    }
                                });

                                $('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
                                    type: 'line',
                                    height: '70',
                                    width: '100%',
                                    lineWidth: '2',
                                    lineColor: '#ffa534',
                                    fillColor: 'rgba(255, 165, 52, .14)'
                                });
                            </script>



                            <script>
                                $("#ImageFile1").on("change", function () {
                                    $(this).parent('form').validate();
                                })

                                $("#ImageFile2").on("change", function () {
                                    $(this).parent('form').validate();
                                })
                                $("#AttentionLevel").on("change", function () {
                                    $(this).parent('form').validate();
                                })



                                $("#addForm").validate({
                                    validClass: "success",
                                    rules: {
                                        Description: {
                                            minlength: 20,
                                        },
                                    },

                                    highlight: function (element) {
                                        $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                                    },
                                    success: function (element) {
                                        $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                                    },
                                });
                            </script>
